name: rocky-9

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:

  build:

    runs-on: ubuntu-latest
    container: rockylinux/rockylinux:9
    timeout-minutes: 5
    
    steps:
      - uses: actions/checkout@v4
      - run: dnf -y install epel-release --nogpgcheck
      - run: dnf -y install openssh-server --nogpgcheck
      - run: dnf -y install ansible --nogpgcheck
      - run: /usr/bin/ansible-playbook ansible/build-rpm.yml
      - run: tar -czf "qstore-$GITHUB_WORKFLOW.tar.gz" qstore post-server.py ansible/ html/
      
      - uses: actions/upload-artifact@v4
        with:
          name: "qstore-$GITHUB_WORKFLOW.tar.gz"
          path: "qstore-$GITHUB_WORKFLOW.tar.gz"

      - uses: actions/upload-release-asset@v1
        if: github.event_name == 'release'
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: "qstore-$GITHUB_WORKFLOW.tar.gz"
          asset_name: "qstore-$GITHUB_WORKFLOW.tar.gz"
          asset_content_type: application/gzip